# Project title

## Import libraries

In [1]:
import pandas as pd
import requests
from random import choice
from bs4 import BeautifulSoup

## Billboard's Hot100 (US charts)

In [2]:
# Download html
response = requests.get('https://www.billboard.com/charts/hot-100/')

# Parse html (create the soup)
billboard = BeautifulSoup(response.content, 'html.parser')

Alternatively:

```python
with open('The Hot 100 â€“ Billboard.html', encoding='UTF-8') as page:
    billboard = BeautifulSoup(page, 'html.parser')
```

But the data is static (saved version on the computer)

In [3]:
# Retrieve the songs
billboard_songs = [song.string.strip() for song in billboard.select('.o-chart-results-list__item #title-of-a-story.c-title')]
billboard_songs[:5]

['Easy On Me', 'Stay', 'Industry Baby', 'Bad Habits', 'Shivers']

In [4]:
# Retrieve the artists
billboard_artists = [artist.string.strip() for artist in billboard.select('.lrv-u-width-100p span.c-label:nth-child(2)')]
billboard_artists[:5]

['Adele',
 'The Kid LAROI & Justin Bieber',
 'Lil Nas X & Jack Harlow',
 'Ed Sheeran',
 'Ed Sheeran']

**Breaking down the list comprehensions**

Returns a list of all ocurrences of the *selector*
```python
billboard.select('selector')[0] # First item as example
```
```
>> <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet" id="title-of-a-story">
Easy On Me
</h3>
```

`.string` returns only the text, ignoring the tags
```python
song.string
```
```
>> '\nEasy On Me\n'
```

Finally, we use `.strip()` to remove the leading and trailing line breakers.

In [5]:
# Print the date of the ranking ('\033[1m' makes it bold, '\033[91m' makes it red)
print('\033[1m' + '\033[91m' + billboard.select('.c-tagline')[7].string)

# Create dataframe to store the data
billboard_df = pd.DataFrame({
    'Artist': billboard_artists,
    'Song': billboard_songs
})

billboard_df.head()

Week of November 20, 2021

                          Artist           Song
0                          Adele     Easy On Me
1  The Kid LAROI & Justin Bieber           Stay
2        Lil Nas X & Jack Harlow  Industry Baby
3                     Ed Sheeran     Bad Habits
4                     Ed Sheeran        Shivers

In [6]:
def song_suggestion():
    
    user_song = input('Enter a song: ')

    if user_song in billboard_df['Song'].values:
        song_suggestion = choice(billboard_df['Song'])
        by_artist = billboard_df.loc[billboard_df['Song'] == song_suggestion, 'Artist'].item()
        
        return print('Here\'s another hot song for you: {} by {}'.format(song_suggestion, by_artist))
    
    else:
        return print('Unfortunately, the song is not in the hot list!')

In [7]:
# song_suggestion()

# UK Charts

In [8]:
response = requests.get('https://www.officialcharts.com/charts/singles-chart/')
uk_charts = BeautifulSoup(response.content, 'html.parser')

Like in the previous case:

```python
with open('Official Singles Chart Top 100 _ UK.html') as page:
    uk_charts = BeautifulSoup(page, 'html.parser')
```

In [9]:
uk_songs = [song.get_text().strip() for song in uk_charts.select('.title')]
uk_songs[:5]

['EASY ON ME',
 'SHIVERS',
 "ALL TOO WELL (TAYLOR'S VERSION)",
 'BAD HABITS',
 'FLOWERS (SAY MY NAME)']

In [10]:
uk_artists = [artist.get_text().strip() for artist in uk_charts.select('.artist')]
uk_artists[:5]

['ADELE', 'ED SHEERAN', 'TAYLOR SWIFT', 'ED SHEERAN', 'ARRDEE']

In [11]:
uk_df = pd.DataFrame({
    'Artist': uk_artists,
    'Song': uk_songs
})
uk_df.head()

         Artist                             Song
0         ADELE                       EASY ON ME
1    ED SHEERAN                          SHIVERS
2  TAYLOR SWIFT  ALL TOO WELL (TAYLOR'S VERSION)
3    ED SHEERAN                       BAD HABITS
4        ARRDEE            FLOWERS (SAY MY NAME)

## Germany Charts

In [12]:
with open('Offizielle Single Top 100 - Musik Charts _ MTV Germany.html') as page:
    germany_charts = BeautifulSoup(page, 'html.parser')

In [13]:
# It seems that we would need a json/php parser based on the element structure

In [14]:
#germany_songs = [song.get_text().strip() for song in germany_charts.select('.cmn-title')]
#germany_songs[:5]

In [15]:
#germany_artists = [artist.get_text().strip() for artist in germany_charts.select('.artist')]
#germany_artists[:5]

In [16]:
#germany_df = pd.DataFrame({
#    'Artist': germany_artists,
#    'Song': germany_songs
#})
#germany_df.head()